html, body{
  height: 100%;
}

body{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

form{
  width: 270px; 
  background-color: #d3c2fc; 
  border-radius: 12px; 
  padding: 10px;
  margin: 0 auto;
  margin-top: 15%;
  text-align: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

input[type="text"]{
  width:250px; 
  height:60px; 
  text-align:right; 
  font-size:40px; 
  border-radius: 8px; 
  margin:3px;
}

input[type="button"]{
  width:60px; 
  height:60px; 
  font-size:30px; 
  border-radius:8px; 
  margin:1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #b7ffb9;
}
